table {
	width: 100%;
	border-collapse: collapse;
	th, td {
	  text-align: left;
	}
  
	th {
	  font-size: 18px; // Slightly larger font size for headers for emphasis
	}
  
	td {
	  font-size: 16px; // Standard font size for table cells
	}
  }