.modal__inner {
	form {
		// background-color: red;
		input#name,input#email, textarea{
			width: 100%;
			padding: 1.5rem;
			// background-color: red;
			
		}
		input#newsletter {
			margin-left: 1rem;
		}
		input#submit-contact {
			background-color: var(--color-primary);
			// color: white;
			margin-top: 2rem;
			border: none;
		}

		label {
			padding-left: 1.5rem;
			// background-color: yellow;
			font-weight: bold;
			font-size: 1.6rem;
		}
		.newsletter-box {
			display: flex;
		}

	}
}