.modal.active{
	height: 100vh;
	width: 100vw;
	background-color: var(--color-secondary);
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	.modal__inner {
		height: 60vh;
		width: 50vw;
		display: flex;
		flex-direction: column;
		background-color: white;
		border: var(--rails);
		@media only screen and (max-width:$bp-medium) {
			width: 85vw;
			height: 70vh;
		}
		&__header {
			//background-color: azure;
			text-align: right;
			font-size: 3rem;
			padding-right: 1rem;
			.close {
				cursor: pointer;
			}
		}
		&__body {
			background-color: bisque;
		}
		p {
			cursor: pointer;
			background-color: teal;
		}
	}
}
