html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width:$bp-medium) {
    font-size: 50%;
}
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: var(--color-primary);
  color: white;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.5s ease; /* Adjust the time and easing function as needed */

  &:hover { 
    color: #2f2f2f;
  }
}
