:root {
  --color-primary: #BE431B;
  --color-secondary: #F5F4E2;
  --color-tertiary: #45887A;
  --color-dark-grey: #9E9E9B;
  //--rails: 1px solid black;
  --shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  --main-space: 5rem;
  --border-radius: 2.5rem;

}
.text-accent {
  color: var(--color-primary);
}