html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%; }
  
  * {
    margin: 0;
    padding: 0; }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit; }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%; }
  
  ::selection {
    background-color: var(--color-primary); 
    color: white;
  }
