$padding: 2rem;
.client-container {
    // background-color: pink;
    display: flex;
    justify-content: center;
    p {
        margin-bottom: 1rem;
    }
    .client {
        width: 80rem;
        max-width: 1140px;
        //border: 1px solid #2f2f2f;
        padding: $padding;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        box-shadow: var(--shadow);
        .logo {
            img {
                height: 8rem;
            }
        }
        .details {
            //background-color: tomato;
            margin-top: 1rem;
            font-weight: bold;
            p span {
                font-weight: 100;
            }
        }
        .invoices-group {
            //background-color: cyan;
            .status {
                //background-color: royalblue;
                display: inline-block;
                margin-top: 1rem;
                h3 {
                    span {
                        padding-left: 1rem;
                        padding-right: 1rem;
                        border-radius: 5px;
                    }
                }
            }
            .invoice-list {
                //background-color: magenta;
                .item {
                    //background-color: honeydew;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 1rem;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    border: 2px solid #efefef;
                    border-radius: 5px;
                    margin-bottom: 1rem;
                    box-shadow: var(--shadow-light);
                    .left {
                        //background-color: rosybrown;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-left: 2rem;
                        p {
                            margin-bottom: 0px;
                        }
                    }
                    .right {
                        //background-color: yellow;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-right: 2rem;
                        p {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}