.wrapper.single-post {
    max-width: 1140px;    
    
    .back-home {
        margin-top: 2rem;
        img {
            width: 3rem;
            height: 3rem;
            filter: grayscale(100%);
            transition: transform 0.3s ease; /* Smooth transition for the transform */
            &:hover {
                transform: translateX(-3px);
            }
        }
    }
    .featured-image {
        display: flex;
        justify-content: space-between;
        height: 49rem;
        margin-top: 2rem;
        .left {
            background-color: navajowhite;
            width: 49.5%;
        }
        .right {
            background-color: #F5F4E2;
            width: 49.5%;
            display: flex;
            align-items: center;
            justify-content: center;
            .content-box {
                padding: 2rem;
                .post-meta {
                    text-transform: uppercase;
                }
            }
        }
    }
    .post-body {
        margin-top: 8rem;
        display: flex;
        justify-content: center;
        .slim {
            max-width: 1000px;
            padding: 0 2rem;
            border-top: 1px solid #2f2f2f;
            padding-top: 4rem;
        }
    }
}
