.wrapper {
    width: 100%;
    > div {
        border-bottom: var(--rails);
    }
    background-color: aqua;
    .main-content {
        background-color: white;
        padding-bottom: 100rem;
        padding: 3rem;
    }
}